* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --footer-bg: #2e3033;
}

body {
    background-color: #e9ebee;
    font-size: 16px;
}

#main {
    background-color: #fff;
    margin: 20px 40px;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr repeat(3, 3fr) 1fr;
    grid-template-rows: 150px;
    grid-auto-rows: 200px;
    grid-template-areas: "question question question question question"
                        ". . no3 . ."
                        ". no1 yes no2 ."
                        ". . no4 . .";
}

@media screen and (max-width: 900px) {
    #main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(180px, max-content);
        grid-auto-rows: minmax(180px, max-content);
        grid-template-areas: "question"
                            "no1"
                            "yes"
                            "no2";
    }

    #divNo3, #divNo4 {
        visibility: collapse;
    }
}

#divQuestion {
    grid-area: question;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    padding: 10px;
    color: rgb(54, 44, 201);
}

#divQuestion h1 {
    font-size: 2rem;
}

.divBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#divNo1 {
    grid-area: no1;
}

#divYes {
    grid-area: yes;
}

#divNo2 {
    grid-area: no2;
}

#divNo3 {
    grid-area: no3;
}

#divNo4 {
    grid-area: no4;
}

footer {
    background-color: var(--footer-bg);
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 1.2rem;
    min-width: 60px;
    min-height: 40px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--footer-bg);
    color: #fff;
}